nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056a1;
  color: #ffffff;
  height: 80px;
  width: 100%;
  padding: 0 1.5em;
}

nav span#tweeter {
  font-family: 'Bungee', sans-serif;
}

.writeNewCont {
  width: 8rem;
  font-size: .7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  justify-content: flex-end;
}

.arrows {
  color: tomato;
}