span.spacer {
  display: block;
  height: 150px;
}

.main-header {
  width: 100%;
  height: 400px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e90;

  img {
    height: 50%;
  }
}

