@use '../abstracts';

nav {
  padding: 1.5em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: abstracts.$blue;
  color: #ffffff;
  height: 120px;
  width: 100%;
}

span#tweeter {
  font-family: abstracts.$logo-font;
  font-size: 2rem;
}

.writeNewCont {
  // width: 8rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  justify-content: flex-end;
  
  .arrows {
    color: tomato;
  }
}
