header.main-header {
  background-color: #ab8000;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

div.user-profile-pic img {
  height: 15vh;
}
