.new-tweet {
  width: 100%;
  margin: auto;
  background: #ccc;
  padding: 1em;
}

textarea#tweet-text::placeholder {
  color: #222;

}

textarea#tweet-text {border: none;
  background-color: inherit;
  outline: none;
  resize: none;
  overflow: hidden;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  border: none;
  border-bottom: solid .125em #222;
}

form > * {
  padding: 0.5em 0;
}

div#form-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

button#tweetBtn {
  background-color: #25008a;
  color: white;
  border: none;
	padding: .2em;
}